<h4>Listado</h4>
<ol class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="
      let character of characterList;
      let i = index;
      let isFirst = first;
      let isLast = last;
      let isEven = even;
      let isOdd = odd;
    " [ngClass]="{
      'list-group-item-dark': isLast,
      'list-group-item-primary': isEven,
    }">

    <div>
      <span class="text-primary"> {{ i + 1 }}. </span>
      <span>{{ character.name }} - </span>
      <b>Power </b>
      <span>{{ character.power }}</span>
    </div>

    <button class="btn btn-danger" (click)="deleteCharacterById(character.id!)">X</button>
    <!-- <span>Es el primero: {{ isFirst }} </span>
    <span>Es el último: {{ isLast }} </span>
    <span>Es par: {{ isEven }} </span>
    <span>Es impar: {{ isOdd }} </span> -->
  </li>
</ol>